@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 8px;
    background-color: #FFF9E5;
}

body::-webkit-scrollbar-thumb {
    background-color: #fe7600;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #f5943e;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-button {
    display: none;
}

.modalScroll::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.modalScroll::-webkit-scrollbar-thumb {
    background-color: #525560;
    border-radius: 10px;
}

.modalScroll::-webkit-scrollbar-thumb:hover {
    background-color: #6a6d7c;
}

.modalScroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.modalScroll::-webkit-scrollbar-button {
    display: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;

}

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

@layer base {
    :root {
        --background-light: #ffffff;
        --background-light-secondary: #f9f9f9;
        --text-light-primary: #1A202C;
        --text-light-secondary: #718096;

        --background-dark: #121212;
        --background-dark-secondary: #1e1e1e;
        --text-dark-primary: #ffffff;
        --text-dark-secondary: #bbbbbb;
    }

    body {
        @apply bg-[var(--background-light)] text-[var(--text-light-primary)];
    }

    .dark {
        @apply bg-[var(--background-dark)] text-[var(--text-dark-primary)];
    }
}